<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894286222021-jus4ntkh2i8fkpo4js2rusfusm1mi7n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894286222021-jus4ntkh2i8fkpo4js2rusfusm1mi7n4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894286222021-4am9io06fj8rm14fi97etclpusihu0vt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2tEPoW3sBVzPnwDu_rkRG0ikKwrlXXos</string>
	<key>GCM_SENDER_ID</key>
	<string>894286222021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>live.iajaykumar.quietflip</string>
	<key>PROJECT_ID</key>
	<string>quietflip</string>
	<key>STORAGE_BUCKET</key>
	<string>quietflip.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894286222021:ios:8a3b7b5f9b964f32f816ac</string>
</dict>
</plist>